force-app/main/default/flows/Summit_Event_Instance_Overrideable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Current_Stage</name>
        <label>Assign Current Stage</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Defaults_for_Instance</name>
        <label>Assign Defaults for Instance</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Instance.Active_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Summit_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Id_Flow_Record</name>
        <label>Assign Event Id Flow Record</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Instance.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Summit_Event_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Defaults_for_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Instance_to_Flow_Record</name>
        <label>Assign Instance to Flow Record</label>
        <locationX>116</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Instance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Summit_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Event_Id_to_Flow_Record</name>
        <label>Assign Lookup Event Id to Flow Record</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Instance.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Event.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Defaults_for_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Time and Rich Text values to Flow Record.</description>
        <name>Assign_Values_to_Flow_Record</name>
        <label>Assign Values to Flow Record</label>
        <locationX>380</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>Instance.Instance_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConvertStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Instance.Instance_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConvertEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_for_Guests</name>
        <label>Default for Guests</label>
        <locationX>116</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>Instance.Capacity_Control__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registrants plus Guests</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Instance_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_for_No_Guests</name>
        <label>Default for No Guests</label>
        <locationX>380</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>Instance.Capacity_Control__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual Registrants</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Instance_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Counter</name>
        <label>Increase Counter</label>
        <locationX>50</locationX>
        <locationY>1964</locationY>
        <assignmentItems>
            <assignToReference>varInstanceAppointmentCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Instance_Appointment_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Instance_Appointments</name>
        <label>Create Instance Appointments?</label>
        <locationX>380</locationX>
        <locationY>1640</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Instance_Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_Instance_Appointments.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instance_Appointment_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>380</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Create_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Instance</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check what type of input, if any.</description>
        <name>Has_Input</name>
        <label>Has Input?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Select_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Instance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Instance_to_Flow_Record</targetReference>
            </connector>
            <label>Yes - Has Instance</label>
        </rules>
        <rules>
            <name>Yes_Has_Event_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Summit_Event_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Summit_Event_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Event_Id_Flow_Record</targetReference>
            </connector>
            <label>Yes - Has Event Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Counter loop to setup Instance Appointment Types</description>
        <name>Instance_Appointment_Loop</name>
        <label>Instance Appointment Loop</label>
        <locationX>182</locationX>
        <locationY>1748</locationY>
        <defaultConnectorLabel>After Last Item</defaultConnectorLabel>
        <rules>
            <name>For_Each_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInstanceAppointmentCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_many_Instance_appointments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Instance_Appointment_Type</targetReference>
            </connector>
            <label>For Each Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Instance_Guests</name>
        <label>Instance Guests</label>
        <locationX>380</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>Instance_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Guests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Summit_Event.Display_Guest_Registration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instance.Capacity_Control__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_for_Guests</targetReference>
            </connector>
            <label>Has Guests</label>
        </rules>
        <rules>
            <name>No_Guests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Summit_Event.Display_Guest_Registration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instance.Capacity_Control__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_for_No_Guests</targetReference>
            </connector>
            <label>No Guests</label>
        </rules>
    </decisions>
    <description>An overridable Flow for creating a Summit Event Instance</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_ConvertEndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( &apos;2020-01-01 &apos; &amp; {!time_Instance_End_Time.fieldValue} )</expression>
    </formulas>
    <formulas>
        <name>formula_ConvertStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( &apos;2020-01-01 &apos; &amp; {!time_Instance_Start_Time.fieldValue} )</expression>
    </formulas>
    <interviewLabel>Summit Event Instance - Overrideable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summit Event Instance - Overrideable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Instance</name>
        <label>Create Instance</label>
        <locationX>512</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>Create_Instance_Appointments</targetReference>
        </connector>
        <inputReference>Instance</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Summit_Event</name>
        <label>Get Summit Event</label>
        <locationX>380</locationX>
        <locationY>716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Instance_Guests</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Event</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Instance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Summit_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Instance</name>
        <label>Update Instance</label>
        <locationX>248</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>Create_Instance_Appointments</targetReference>
        </connector>
        <inputReference>Instance</inputReference>
    </recordUpdates>
    <screens>
        <name>Instance_Configuration</name>
        <label>Instance Configuration</label>
        <locationX>380</locationX>
        <locationY>1124</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Flow_Record</targetReference>
        </connector>
        <fields>
            <name>ProgressBar_CreateInstance</name>
            <extensionName>c:flowStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Instance_Header</name>
            <fieldText>&lt;p&gt;Instance related to:  &lt;strong&gt;{!Get_Summit_Event.Event_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instance_Configuration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instance_Configuration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toggle_Instance_Appointments</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Are there specific appointments for this Instance?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Instance_Configuration_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_many_Instance_appointments</name>
                    <dataType>Number</dataType>
                    <fieldText>How many Instance appointments?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>toggle_Instance_Appointments.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Instance_Details</name>
            <fieldText>Instance Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instance_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Private_Instance__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Instance_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Instance_Short_Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Instance_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Attendee_List__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Active_Status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Capacity</name>
            <fieldText>Capacity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capacity_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Capacity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capacity_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Capacity_Control__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Display_Guest_Registration__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Date_and_Time</name>
            <fieldText>Date and Time</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Date_and_Time_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Instance_Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Instance_End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_and_Time_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>time_Instance_Start_Time</name>
                    <extensionName>c:inputTime</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Instance Start Time</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Instance.Instance_Start_Time__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpText</name>
                        <value>
                            <stringValue>The time this event starts.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>time_Instance_End_Time</name>
                    <extensionName>c:inputTime</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Instance End Time</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>Instance.Instance_End_Time__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpText</name>
                        <value>
                            <stringValue>The time this event will end.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Instance_Time_Zone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Configuration_Overrides</name>
            <fieldText>Configuration Overrides</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configuration_Overrides_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alternate_Registration_URL_Override</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Alternate Registration URL Override</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configuration_Overrides_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Feed_Registration_Button_Text_Override__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Location_Overrides</name>
            <fieldText>Location Overrides</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Location_Overrides_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Location_Type_Override__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Location_Title_Override__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Location_Overrides_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Building_Override__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Instance.Location_Type_Override__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On-Site</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Location_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On-Site</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Virtual_Meeting_Link</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Virtual Meeting Link</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>Instance.Location_Type_Override__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Location_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Instance.Location_Type_Override__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Location_Address_Override__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Instance.Location_Type_Override__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On-Site</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Instance.Location_Type_Override__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Off-Campus</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Location_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On-Site</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Location_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Off-Campus</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Location_Map_Link_Override__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Instance.Location_Type_Override__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On-Site</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Instance.Location_Type_Override__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Off-Campus</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Location_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On-Site</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Location_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Off-Campus</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Event_Fee_Overrides</name>
            <fieldText>Event Fee Overrides</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Fee_Overrides_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Fee_Override</name>
                    <dataType>Currency</dataType>
                    <fieldText>Event Fee Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Event_Fee_Additional_Override</name>
                    <dataType>Currency</dataType>
                    <fieldText>Event Fee Additional Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Event_Fee_Override</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Event_Fee_Additional__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Fee_Overrides_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Event_Fee_Allocation_Override__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Event_Fee_Override</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Event_Fee_Allocation__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Instance.Event_Fee_Additional_Allocation_Override__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Event_Fee_Additional_Override</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Summit_Event.Event_Fee_Additional_Allocation__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Prompt user to select a Summit Event</description>
        <name>Select_Event</name>
        <label>Select Event</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Lookup_Event_Id_to_Flow_Record</targetReference>
        </connector>
        <fields>
            <name>ProgressBar_SelectEvent</name>
            <extensionName>c:flowStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lookup_Event</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Summit_Events_Instance__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Summit Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Current_Stage</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Instance_Appointment_Type</name>
        <label>Create Instance Appointment Type</label>
        <locationX>50</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>Increase_Counter</targetReference>
        </connector>
        <flowName>Summit_Event_Appointment_Type_Overrideable</flowName>
        <inputAssignments>
            <name>input_CurrentStage</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Instance_Id</name>
            <value>
                <elementReference>Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>input_CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Summit_Event_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Summit_Events_Instance__c</objectType>
    </variables>
    <variables>
        <description>Record (not just Id) of a Summit Event Instance</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Summit_Events_Instance__c</objectType>
    </variables>
    <variables>
        <name>varInstanceAppointmentCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
