force-app/main/default/flows/Summit_Event_Custom_Question_Overridable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Current_Stage</name>
        <label>Assign Current Stage</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Input_Default_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to assign default values for Question.</description>
        <name>Assign_Defaults_to_Flow_Record</name>
        <label>Assign Defaults to Flow Record</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Question.Registrant_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Display_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Question_Counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Question_Field_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Textbox</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Display_Style__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Full width</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Lookup_Results_Icon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Lookup_No_Results_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No results found.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Lookup_Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Lookup_Secondary_Input_Link_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Click here to manually enter.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Lookup_Secondary_Input_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enter your response above.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Error_Assist_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value incorrect, please try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question.Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Event_Passed_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Defaults_to_Flow_Record_from_Input</name>
        <label>Assign Defaults to Flow Record from Input</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_DefaultQuestionValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Event_Passed_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Id_to_Flow_Record</name>
        <label>Assign Event Id to Flow Record</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Question.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Summit_Event_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Summit_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Event_Id_to_Flow_Record</name>
        <label>Assign Lookup Event Id to Flow Record</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Question.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Event.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Summit_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Question_to_Flow_Record</name>
        <label>Assign Question to Flow Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Event_Passed_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to assign default values for questions.</description>
        <name>Guest_Question_Registrant_Type</name>
        <label>Guest Question Registrant Type</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Question.Registrant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registrant and Guest</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to assign default values for questions.</description>
        <name>Standard_Question_Registrant_Type</name>
        <label>Standard Question Registrant Type</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Question.Registrant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registrant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Configuration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Create_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Question</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if an existing record was passed in, in order to assign default values</description>
        <name>Existing_Event_Passed_In</name>
        <label>Existing Event Passed In?</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Summit_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Summit_Event_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Summit_Event_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Event_Id_to_Flow_Record</targetReference>
            </connector>
            <label>Yes - Has Summit Event Id</label>
        </rules>
        <rules>
            <name>No_Summit_Event_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Event</targetReference>
            </connector>
            <label>No Summit Event Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Assigned default value for when Guests are enabled</description>
        <name>Has_Guests_Registrations</name>
        <label>Has Guests Registrations?</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Standard_Question_Registrant_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Guest_Registrations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Summit_Event.Display_Guest_Registration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guest_Question_Registrant_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Input_Default_Values</name>
        <label>Has Input Default Values?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Defaults_to_Flow_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Defaults</defaultConnectorLabel>
        <rules>
            <name>Existing_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Question_to_Flow_Record</targetReference>
            </connector>
            <label>Existing Record</label>
        </rules>
        <rules>
            <name>Yes_Default_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_DefaultQuestionValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Defaults_to_Flow_Record_from_Input</targetReference>
            </connector>
            <label>Yes Default Values</label>
        </rules>
    </decisions>
    <description>An overridable Flow for creating a Summit Event Question</description>
    <environments>Default</environments>
    <interviewLabel>Summit Event Custom Question - Overridable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summit Event Question - Overridable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Question</name>
        <label>Create Question</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <inputReference>Question</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Summit_Event</name>
        <label>Get Summit Event</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Guests_Registrations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Event</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Question.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Summit_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Question</name>
        <label>Update Question</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <inputReference>Question</inputReference>
    </recordUpdates>
    <screens>
        <description>Question configuration</description>
        <name>Question_Configuration</name>
        <label>Question Configuration</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <fields>
            <name>ProgressBar_Questions</name>
            <extensionName>c:flowStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QuestionHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Question &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!input_Question_Counter} of {!input_How_Many_Questions}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Question_Counter</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_Configuration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Question_Configuration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Required__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Question_Field_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Question_Label__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Instructions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Help_Text__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Question_Configuration_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Is_Visible__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Registrant_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Default_Value__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Error_Assist_Text__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Display_Order__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Display_Style__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Field_Question_Details</name>
            <fieldText>Field Question Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Field_Question_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Map_to_Field__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Field_Question_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SUGGESTION1</name>
                    <fieldText>&lt;p&gt;Replace this with a Field picker?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Text_Field</name>
            <fieldText>Text Field</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Text_Field_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Text_Limit__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Text_Field_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Debug_SDFGHJK</name>
                    <fieldText>&lt;p&gt;Could automation after insert/update check the Map to Field, identify the text field&apos;s length and then update this value to keep it accurate to the destination field&apos;s natural limit?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Could the UI do this check instead?  I suspect from a performance perspective, it&apos;s better to do it this way, but maybe remove it from the user to get it right?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Same logic could be applied for a numeric input (number of decimals).&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Question.Question_Field_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Email</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Question.Question_Field_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Text Area</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Question.Question_Field_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Textbox</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Picklist_Field</name>
            <fieldText>Picklist Field</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Picklist_Field_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toggle_Picklist_Type</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Picklist Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Existing Picklist Values</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Custom Picklist Values</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Picklist_Field_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Existing_Picklist_Values__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>toggle_Picklist_Type.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Picklist_Values_Long__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>toggle_Picklist_Type.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question.Question_Field_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Picklist</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Lookup_Field</name>
            <fieldText>Record Lookup Field</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Lookup_Field_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_Object__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_Fields__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_Where_Clause__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_Results_Icon__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_No_Results_Label__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Lookup_Field_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_Secondary_Value_Field__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_Secondary_Input_Link_Text__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Question.Lookup_Secondary_Input_Instructions__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Debug_LKJHGF</name>
                    <fieldText>&lt;p&gt;Could the query builder from USF be helpful for the WHERE clause?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use Object &amp;amp; Field Picket from USF?&lt;/p&gt;&lt;p&gt;I wonder if there&apos;s a multiple field picker solution on USF.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use the Icon Selector from USF?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If custom questions are only mapped to the registration record, couldn&apos;t automation determine the Lookup Object if it has to match the lookup of the Field? (Similar to text length automation)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Question.Question_Field_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lookup</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Question.Question_Field_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lookup Picklist</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Prompt user to select a Summit Event</description>
        <name>Select_Event</name>
        <label>Select Event</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Lookup_Event_Id_to_Flow_Record</targetReference>
        </connector>
        <fields>
            <name>ProgressBar_SelectEvent</name>
            <extensionName>c:flowStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lookup_Event</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Summit_Events_Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Summit Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Current_Stage</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>input_CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_DefaultQuestionValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Summit_Events_Question__c</objectType>
    </variables>
    <variables>
        <name>input_How_Many_Questions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Used to track the number of Questions already created.</description>
        <name>input_Question_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>input_Summit_Event_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Summit_Events_Question__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Summit_Events_Question__c</objectType>
    </variables>
</Flow>
