force-app/main/default/flows/Summit_Event_Appointment_Type_Overrideable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Appointment_Type_to_Flow_Record</name>
        <label>Assign Appointment Type to Flow Record</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Instance_or_Event_Passed_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Stage</name>
        <label>Assign Current Stage</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Input_Default_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Defaults_to_Flow_Record</name>
        <label>Assign Defaults to Flow Record</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AppointmentType.Appointment_Type_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Instance_or_Event_Passed_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Defaults_to_Flow_Record_from_Input</name>
        <label>Assign Defaults to Flow Record from Input</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_DefaultAppointmentValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Instance_or_Event_Passed_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Id</name>
        <label>Assign Event Id</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>input_Summit_Event_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentType.Summit_Events__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Summit_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Id_from_Instance</name>
        <label>Assign Event Id from Instance</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>input_Summit_Event_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Instance.Event__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Summit_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Id_to_Flow_Record</name>
        <label>Assign Event Id to Flow Record</label>
        <locationX>798</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>AppointmentType.Summit_Events__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Summit_Event_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Instance_Id</name>
        <label>Assign Instance Id</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>input_Instance_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentType.Restrict_To_Instance_Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Instance_Id_to_Flow_Record</name>
        <label>Assign Instance Id to Flow Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AppointmentType.Restrict_To_Instance_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Instance_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Event_Id_from_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Event_Id</name>
        <label>Assign Lookup Event Id</label>
        <locationX>1546</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>input_Summit_Event_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Summit_Event.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Summit_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Instance_Id</name>
        <label>Assign Lookup Instance Id</label>
        <locationX>1282</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>input_Instance_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Instance.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Time and Rich Text values to Flow Record</description>
        <name>Assign_Values_to_Flow_Record</name>
        <label>Assign Values to Flow Record</label>
        <locationX>798</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>AppointmentType.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rt_Description.fieldValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentType.Auto_Add_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConvertAutoAddTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>798</locationX>
        <locationY>1640</locationY>
        <defaultConnector>
            <targetReference>Create_Appointment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appointment_Type</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check what type of input, if any.</description>
        <name>Existing_Instance_or_Event_Passed_In</name>
        <label>Existing Instance or Event Passed In?</label>
        <locationX>798</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Select_Event_or_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Appointment_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Parent_Record_from_Instance_Input</targetReference>
            </connector>
            <label>Yes - Has Appointment Type</label>
        </rules>
        <rules>
            <name>Yes_Has_Instance_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Instance_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Instance</targetReference>
            </connector>
            <label>Yes - Has Instance Id</label>
        </rules>
        <rules>
            <name>Yes_Has_Event_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Summit_Event_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Summit_Event</targetReference>
            </connector>
            <label>Yes - Has Event Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Input_Default_Values</name>
        <label>Has Input Default Values?</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Defaults_to_Flow_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Default Values</defaultConnectorLabel>
        <rules>
            <name>Existing_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Type_to_Flow_Record</targetReference>
            </connector>
            <label>Existing Record</label>
        </rules>
        <rules>
            <name>Yes_Default_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_DefaultAppointmentValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Defaults_to_Flow_Record_from_Input</targetReference>
            </connector>
            <label>Yes Default Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Parent_Record</name>
        <label>Which Parent Record?</label>
        <locationX>1414</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Lookup_Event_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event</defaultConnectorLabel>
        <rules>
            <name>Instance_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_Parent_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_Instance_Id</targetReference>
            </connector>
            <label>Instance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Parent_Record_from_Instance_Input</name>
        <label>Which Parent Record from Instance Input?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_Event_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event</defaultConnectorLabel>
        <rules>
            <name>Instance_From_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentType.Restrict_To_Instance_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Instance_Id</targetReference>
            </connector>
            <label>Instance</label>
        </rules>
    </decisions>
    <description>An overridable Flow for creating a Summit Event Appointment Type</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_ConvertAutoAddTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( &apos;2020-01-01 &apos; &amp; {!time_Auto_Add_Time.fieldValue} )</expression>
    </formulas>
    <formulas>
        <description>Used to control the toggle for determining the Appointment Type&apos;s controlling parent.</description>
        <name>formula_Has_Instance</name>
        <dataType>Boolean</dataType>
        <expression>NOT( ISBLANK( {!input_Instance_Id} ) )</expression>
    </formulas>
    <interviewLabel>Summit Event Appointment Type - Overrideable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summit Event Appointment Type - Overrideable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appointment_Type</name>
        <label>Create Appointment Type</label>
        <locationX>930</locationX>
        <locationY>1748</locationY>
        <inputReference>AppointmentType</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Instance</name>
        <label>Get Instance</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Instance_Id_to_Flow_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Event_or_Instance</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Instance_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Summit_Events_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Summit_Event</name>
        <label>Get Summit Event</label>
        <locationX>798</locationX>
        <locationY>1208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Event_Id_to_Flow_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Event_or_Instance</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Summit_Event_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Summit_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment_Type</name>
        <label>Update Appointment Type</label>
        <locationX>666</locationX>
        <locationY>1748</locationY>
        <inputReference>AppointmentType</inputReference>
    </recordUpdates>
    <screens>
        <name>Appointment_Type</name>
        <label>Appointment Type</label>
        <locationX>798</locationX>
        <locationY>1424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Flow_Record</targetReference>
        </connector>
        <fields>
            <name>ProgressBar_Appointment</name>
            <extensionName>c:flowStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appointment_Type_Header</name>
            <fieldText>&lt;p&gt;Appointment Type for: &lt;strong&gt;{!Get_Summit_Event.Event_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Title__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Sort_Order__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Appointment_Type_Status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Appointment_Category__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Appointment_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Appointment_Options</name>
            <fieldText>Appointment Options</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_Options_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Restrict_To_Instance_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <name>time_Auto_Add_Time</name>
                    <extensionName>c:inputTime</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>helpText</name>
                        <value>
                            <stringValue>Auto populate this appointment time when this appointment is added to a registration.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Auto Add Time</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Auto_add_building__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Auto_Confirm_Appointment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Appointment_Options_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Appointment_Limits__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Chosen_State__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Registrant_Input__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Custom_Picklist__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>AppointmentType.Registrant_Input__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Custom pick list</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AppointmentType.Registrant_Input__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Required custom pick list</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Appointment_Details</name>
            <fieldText>Appointment Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>rt_Description</name>
                    <extensionName>c:inputRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>AppointmentType.Description__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Appointment_Restrictions</name>
            <fieldText>Appointment Restrictions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_Restrictions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Required_Appointment__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Date_Available_Start__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Day_of_Week_Availability__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Appointment_Restrictions_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Do_Not_Show_Time__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AppointmentType.Date_Available_End__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Event_or_Instance</name>
        <label>Select Event or Instance</label>
        <locationX>1414</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Parent_Record</targetReference>
        </connector>
        <fields>
            <name>ProgressBar_SelectParent</name>
            <extensionName>c:flowStageProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>toggle_Parent_Type</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What record owns the Appointment Type?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>An Instance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>An Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>formula_Has_Instance</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lookup_Summit_Event</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Summit_Events__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Summit Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Summit_Events_Appointment_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>input_Summit_Event_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_Parent_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lookup_Instance</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Summit_Events_Appointment_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Restrict_To_Instance_Title__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Instance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>input_Instance_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_Parent_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Current_Stage</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AppointmentType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Summit_Events_Appointment_Type__c</objectType>
    </variables>
    <variables>
        <name>input_CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_DefaultAppointmentValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Summit_Events_Appointment_Type__c</objectType>
    </variables>
    <variables>
        <name>input_Instance_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Summit_Event_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Summit_Events_Appointment_Type__c</objectType>
    </variables>
</Flow>
